mixin projectGrid(projectList)

	//
		h2 
			| Projects:

	- for (var i = 0; i < projectList.length; ++i) {
		li
			a(href=locals.projects[i].url, target="_blank", title=locals.projects[i].name)
				img(src="/projects/"+locals.projects[i].thumbnail)
	- }