.headlinks {
  letter-spacing: 0.15em;
}

.notch {
  width: 1rem;
  height: 1rem;
  transform: scale( 1.0 ) scaleZ( 1.0 ) rotateZ( 45deg ) translateY( -70% );
  transform-origin: 50% 50%;
}

.list-reset { 
  list-style: none;
  padding-left:0
}

.logo {
  width: 8rem;
  // height: 4rem;

}

.posttest { 
  font-size: 4rem;
}
.posttest span { 
  background-color: #c0c;
  color: #fff; 
  display: inline;
  line-height: 1.8;
  padding: 0.4rem 0.85rem;
  
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.post {
  color: $white;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 0.02rem;
  line-height: 7rem;
  background-color: $pink;
  padding: 1rem 0rem;
}

.basiclink {
  border-width: 0 0 1px 0;
  border-style: dotted;
}

/*
.basiclink-darkblue2 {
  @extend .basiclink;
  color: $darkblue2;
  border-color: $darkblue2;
}

.basiclink-darkblue2:hover {
  color: $white;
  background-color: $darkblue2;
  text-decoration: none;
}
*/


.basiclink-white {
  @extend .basiclink;
  color: $white;
  border-color: $white;
}

.basiclink-white:hover {
  color: $white;
  background-color: $lighten3;
  text-decoration: none;
}


.basiclink-blue {
  @extend .basiclink;
  color: $blue1;
  border-color: $blue1;
}

.basiclink-blue:hover {
  color: $white;
  background-color: $blue1;
  text-decoration: none;
}


.basiclink-green {
  @extend .basiclink;
  color: $green2;
  border-color: $green2;
}

.basiclink-green:hover {
  color: $white;
  background-color: $green2;
  text-decoration: none;
}


.outline-blue1 {
  box-sizing: border-box;
  outline: 1rem solid rgba( 0, 0, 0, 0 );
  outline-offset: -1rem;
}

.outline-blue1:hover {
  outline-color: $blue1;
}

.outline-white {
  box-sizing: border-box;
  outline: 1rem solid rgba( 0, 0, 0, 0 );
  outline-offset: -1rem;
}

.outline-white:hover {
  outline-color: $lighten3;
}

.outline-green {
  box-sizing: border-box;
  outline: 1rem solid rgba( 0, 0, 0, 0 );
  outline-offset: -1rem;
}

.outline-green:hover {
  outline-color: $green2;
}




/*--------- Elements ---------*/



html {
  font-size: 100%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

a, a:visited {
  text-decoration: none;
}

a:active {
  
}


h1,.h1 { font-size: 2.07rem; }
h2,.h2 { font-size: 1.72rem; }
h3,.h2 { font-size: 1.44rem; }
h4,.h4 { font-size: 1.2rem; }
h5,.h5 { font-size: 1rem; }
h6,.h6 { font-size: 0.83rem; }
.h7 { font-size: 0.69rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.02em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.button, button {
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.125;
  margin: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  height: auto;
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  // border-radius: $rounded1;
}

.button:hover, button:hover {
  text-decoration: none;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.5em;
  font-weight: 300;
}

li {
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 2rem 0 2rem;
}




/*--------- CODE ---------*/

code, .code {
  font-family: 'Fira Mono', monospace;
  font-size: 0.85em;
  color: #000;
}

pre {
  font-size: 0.9em;
  overflow: auto;
  background: #fff;
  border: 1px dashed #d2d2d2;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em;
}

pre code {
  display: block;
  line-height: 1.1;
}

p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  background: #fffff3;
  white-space: nowrap;
}





/*--------- SYNTAX HIGHLIGHTING STUFF ---------*/
/*
code.lang-markdown {
  color: #424242;
}

code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold;
}

code.lang-markdown .emphasis {
  font-style: italic;
}

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555;
}

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb;
}
*/
