/*--------- Elements ---------*/

html {
  font-size: 100%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

a, a:visited {
  text-decoration: none;
}

a:active {
  
}

h1,.h1 { font-size: 2.07rem; }
h2,.h2 { font-size: 1.72rem; }
h3,.h2 { font-size: 1.44rem; }
h4,.h4 { font-size: 1.2rem; }
h5,.h5 { font-size: 1rem; }
h6,.h6 { font-size: 0.83rem; }
.h7 { font-size: 0.69rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.015em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.button, button {
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.125;
  margin: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  height: auto;
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  // border-radius: $rounded1;
}

.button:hover, button:hover {
  text-decoration: none;
}

p {
  font-size: 1rem;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-weight: 300;
}

.list-reset { 
  list-style: none;
  padding-left:0
}

li {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: 300;
}

blockquote {
  margin: 1.2em 2em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 2rem 0 2rem;
}

figure {
  margin: 2rem 0;
}

figcaption {
  color: $gray4;
  margin: 0.5rem 0 0;
  font-size: 1rem;
  width: 75%;
  // opacity: 0.7;
  font-weight: 400;
}


/*--------- CODE ---------*/

code, .code {
  font-family: 'Fira Mono', monospace;
  font-size: 0.9em;
  background: $gray1;
}

pre code {
  display: block;
  background: $gray1;
  color: #4d4d4c;
  font-family: 'Fira Mono', monospace;
  //border: 1px solid #ccc;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
}