/*========= COMPONENTS =========*/



/*--------- ENTER VR BUTTON ---------*/
/*
#enter-vr {

  a {
    border: 0.2rem solid white;
    border-radius: 0.6rem;
    width: 7rem;
    height: 4rem;
    background: url('../images/icon-goggles.svg') center center no-repeat;
    background-size: 55%;
    display: block;
  }

  a:hover {
    background-color: $blue3;
    border-color: $blue3;
  }
}
*/

/*--------- FOOTER ---------*/
/*
#footer {
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: 300;
}

#footer .logo {
  width: 7rem;
  display: block;
  margin: 0 0 2rem;
}

#footer .legal-links, footer .links {

  a {
    color: $blue1;
  }
}

#footer .license {

  color: $blue3;

  a, a:visited {
    color: $blue3;
  }
}

#footer a:hover, .primary-links a:hover, .social-links a:hover {
  text-decoration: underline;
  color: #d9fbff;
}

#footer ul {
  list-style: none;
  padding: 0 0 1rem;
}
*/

/*--------- HEADER ---------*/
/*
#header {

  background: rgba( 44, 44, 52, 0.9 );
  width: 100%;
  height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2rem;
  position: relative;

  a {
    color: white;
  }

  #enter-vr {
    position: absolute;
    right: 2rem;
    bottom: 7rem;
  }

  .logo a {
    width: 8rem;
    height: 4rem;
    background: url('../images/mozvr-logo-white.svg') center center no-repeat;
    background-size: 90%;
    display: block;
    margin-right: 2rem;
    border-radius: $small-rounding;
  }

  .logo a:hover {
    background-color: $blue4;
  }
}
*/

/*--------- INTRO ---------*/
/*
#intro { 
  background: rgba( 44, 44, 52, 0.95 );
  color: white;
}

#intro p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 200;
  margin: 0; padding: 0;
}

#intro p a {
  color: $blue1;
  border-bottom: 1px dotted $blue1;
  text-decoration: none;
}

#intro p a:hover {
  color: white;
  border-color: white;
}

#intro .button {
  background-color: $green1;
  color: white;
}
*/


/*--------- PROJECTS GRID ---------*/
/*
$project-padding: 2rem;

#projects {

  background: rgba( 44, 44, 52, 0.95 );
  color: white;
}

#projects #project-grid {

  width: 100%;
  -webkit-columns:      4 30rem;
  -moz-columns:         4 30rem;
  columns:              4 30rem;
  -webkit-column-gap:   $project-padding;
  -moz-column-gap:      $project-padding;
  column-gap:           $project-padding;
}

.project {

  width: 100% !important;
  height: auto !important;
  page-break-inside: avoid;
  margin: 0 0 $project-padding 0;
  position: relative;

  .container {
    width: 100%;
    height: 16rem;
    overflow: hidden;
    border-radius: $small-rounding;
    background-color: rgba( 255, 255, 255, 0.1 );

    img {
      width: 100%;
    }
  }

  a:hover {

    .container {
      // outline: 0.7rem solid $blue3;
      // outline-offset: -0.69rem;
    }

    .info {
      visibility: visible;
    }
  }

  .info {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    visibility: hidden;
    height: 100%;
    background-color: rgba( 23, 150, 218, 0.2 );

    h2 {
      margin: 0 0 1rem;
    }

    p {
      width: 100%
    }
  }
}

.project.article {
  background: gray;
  padding: 1rem;
  margin: 0 0 2rem;
}
*/


/*--------- TEAM ---------*/
/*
#team {
  background: white;
}

#team li {
  width: 12rem;
}

#team img {
  width: 100%;
  border-radius: $small-rounding;
}

#team .info {
  text-align: left;
}

#team .photo {
  margin: 0 0 1rem;
}
*/