/*
TODO:
- Add transforms for rollovers
*/

/*--------- Breakpoints ---------*/

$breakpoint-sm: 40em;
$breakpoint-m: 52em;
$breakpoint-l: 64em;


/*--------- Colors ---------*/

$transparent: rgba( 255, 255, 255, 0 );		.transparent { color: $transparent } .bg-transparent { background-color: $transparent; }

$white: #FFFFFF; .white { color: $white } .bg-white { background-color: $white }
$black: #111111; .black { color: $black } .bg-black { background-color: $black }
$gray1: #f4f4f4; .gray1 { color: $gray1 } .bg-gray1 { background-color: $gray1 }
$gray2: #e7e7e7; .gray2 { color: $gray2 } .bg-gray2 { background-color: $gray2 }
$gray3: #c7c7c7; .gray3 { color: $gray3 } .bg-gray3 { background-color: $gray3 }
$gray4: #a6a6a6; .gray4 { color: $gray4 } .bg-gray4 { background-color: $gray4 }
$gray5: #858585; .gray5 { color: $gray5 } .bg-gray5 { background-color: $gray5 }
$gray6: #5f5f5f; .gray6 { color: $gray6 } .bg-gray6 { background-color: $gray6 }
$gray7: #4d4d4d; .gray7 { color: $gray7 } .bg-gray7 { background-color: $gray7 }
$gray8: #333333; .gray8 { color: $gray8 } .bg-gray8 { background-color: $gray8 }

$blue1: rgba( 12, 153, 213, 1 );					.blue1 { color: $blue1 } .bg-blue1 { background-color: $blue1 }
$blue2: rgba( 0, 81, 137, 1 );						.blue2 { color: $blue2 } .bg-blue2 { background-color: $blue2 }
$blue3: rgba( 31, 54, 108, 1 );						.blue3 { color: $blue3 } .bg-blue3 { background-color: $blue3 }

$red: rgba( 195, 59, 50, 1 ); 						.red{ color: $red } 					.bg-red{ background-color: $red }
$orange: rgba( 229, 85, 37, 1 ); 					.orange{ color: $orange }			.bg-orange{ background-color: $orange }
$orange2: rgba( 241, 138, 33, 1 ); 				.orange2{ color: $orange2 }		.bg-orange2{ background-color: $orange2 }
$yellow: rgba( 255, 205, 2, 1 ); 					.yellow{ color: $yellow }			.bg-yellow{ background-color: $yellow }
$green1: rgba( 111, 190, 74, 1 ); 				.green1{ color: $green1 }			.bg-green1{ background-color: $green1 }
$green2: rgba( 0, 175, 132, 1 ); 					.green2{ color: $green2 }			.bg-green2{ background-color: $green2 }
$purple: rgba( 104, 38, 102, 1 ); 				.purple{ color: $purple }			.bg-purple{ background-color: $purple }
$pink: rgba( 225, 65, 100, 1 ); 					.pink{ color: $pink }					.bg-pink{ background-color: $pink }

$lighten1: rgba( 255, 255, 255, 0.062 );	.bg-lighten1 { background-color: $lighten1 }
$lighten2: rgba( 255, 255, 255, 0.125 );	.bg-lighten2 { background-color: $lighten2 }
$lighten3: rgba( 255, 255, 255, 0.25 );		.bg-lighten3 { background-color: $lighten3 }
$lighten4: rgba( 255, 255, 255, 0.5 );		.bg-lighten4 { background-color: $lighten4 }
$lighten5: rgba( 255, 255, 255, 0.7 );		.bg-lighten5 { background-color: $lighten5 }
$darken1: rgba( 0, 0, 0, 0.062 );					.bg-darken1 { background-color: $darken1 }
$darken2: rgba( 0, 0, 0, 0.125 );					.bg-darken2 { background-color: $darken2 }
$darken3: rgba( 0, 0, 0, 0.25 );					.bg-darken3 { background-color: $darken3 }
$darken4: rgba( 0, 0, 0, 0.5 );						.bg-darken4 { background-color: $darken4 }
$darken5: rgba( 0, 0, 0, 0.7 );						.bg-darken5 { background-color: $darken5 }




/*
.darkblue1 { color: $darkblue1; }
.darkblue2 { color: $darkblue2; }
.green1 { color: $green1; }
.yellow { color: $yellow; }
.red { color: $red; }
.orange { color: $orange; }
.purple { color: $pink; }
*/

/*
$blue4: #09559d;
$darkblue1: #134a77;
$darkblue2: #2c2c34;
$pink: #c21983;
*/


/* Old FFOS palette*/
/*
$blue1: #b4f2fe;
$blue2: #22caf0;
$blue3: #1796da;
$blue4: #09559d;
$darkblue1: #134a77;
$darkblue2: #2c2c34;
$green1: #1db992;
$yellow: #f8bc4a;
$red: #e04540;
$orange: #fd9426;
$pink: #c21983;
*/

/*
.lighten4 { color: $bg-lighten4; }
.lighten5 { color: $bg-lighten5; }

.bg-transparent { background-color: $bg-transparent; }
.bg-white { background-color: $white; }
.bg-blue1 { background-color: $blue1; }
.bg-blue2 { background-color: $blue2; }
.bg-blue3 { background-color: $blue3; }
.bg-blue4 { background-color: $blue4; }
.bg-darkblue1 { background-color: $darkblue1; }
.bg-darkblue2 { background-color: $darkblue2; }
.bg-darkblue2-transparent { background-color: rgba( 44, 44, 52, 0.9 ) }
.bg-green1 { background-color: $green1; }
.bg-yellow { background-color: $yellow; }
.bg-red { background-color: $red; }
.bg-orange { background-color: $orange; }
.bg-purple { background-color: $pink; }
*/


/*--------- Borders ---------*/

$rounded1: 0.2rem;
$rounded2: 0.5rem;
$rounded3: 1rem;
$rounded4: 10rem;
$circle: 50%;

$b1: 0.1rem;
$b4: 0.4rem;

.rounded1 	{ border-radius: $rounded1; }
.rounded2 	{ border-radius: $rounded2; }
.rounded3 	{ border-radius: $rounded3; }
.rounded4		{ border-radius: $rounded4; }
.circle			{ border-radius: $circle; }

.b1 { border-width: $b1; }
.bt1 { border-width: $b1 0 0 0 }
.br1 { border-width: 0 $b1 0 0 }
.bb1 { border-width: 0 0 $b1 0 }
.bl1 { border-width: 0 0 0 $b1 }

.b4 { border-width: $b4 }
.bt4 { border-width: $b4 0 0 0 }
.br4 { border-width: 0 $b4 0 0 }
.bb4 { border-width: 0 0 $b4 0 }
.bl4 { border-width: 0 0 0 $b4 }

.b-dotted { border-style: dotted; }
.b-solid { border-style: solid; }

.b-white { border-color: $white; }
.b-blue1 { border-color: $blue1; }
.b-gray1 { border-color: $gray1; }
.b-gray2 { border-color: $gray2; }
.b-gray3 { border-color: $gray3; }
.b-gray4 { border-color: $gray4; }


/*--------- Buttons ---------*/

.hover-lighten:hover { opacity: 0.8; }
.hover-dark:hover { background: rgba( 0, 0, 0, 0.1 ); }
.hover-light:hover { background: rgba( 255, 255, 255, 0.1 ); }
.hover-green1:hover { background: $green1; border-color: $green1; }
.hover-blue3:hover { background: $blue3; border-color: $blue3; }

