/*
TODO:
- Add transforms for rollovers
*/



/*--------- Breakpoints ---------*/

$breakpoint-sm: 40em;
$breakpoint-m: 52em;
$breakpoint-l: 64em;



/*--------- Colors ---------*/

$transparent: rgba( 255, 255, 255, 0 );		.transparent { color: $transparent } .bg-transparent { background-color: $transparent; }

$white: #FFFFFF; .white { color: $white } .bg-white { background-color: $white }
$black: #111111; .black { color: $black } .bg-black { background-color: $black }
$gray1: #f4f4f4; .gray1 { color: $gray1 } .bg-gray1 { background-color: $gray1 }
$gray2: #e7e7e7; .gray2 { color: $gray2 } .bg-gray2 { background-color: $gray2 }
$gray3: #c7c7c7; .gray3 { color: $gray3 } .bg-gray3 { background-color: $gray3 }
$gray4: #a6a6a6; .gray4 { color: $gray4 } .bg-gray4 { background-color: $gray4 }
$gray5: #858585; .gray5 { color: $gray5 } .bg-gray5 { background-color: $gray5 }
$gray6: #5f5f5f; .gray6 { color: $gray6 } .bg-gray6 { background-color: $gray6 }
$gray7: #4d4d4d; .gray7 { color: $gray7 } .bg-gray7 { background-color: $gray7 }
$gray8: #333333; .gray8 { color: $gray8 } .bg-gray8 { background-color: $gray8 }

$blue0: rgba( 232, 243, 247, 1 );					.blue0 { color: $blue0 } 	.bg-blue0 { background-color: $blue0 }
$blue1: rgba( 12, 153, 213, 1 );					.blue1 { color: $blue1 } 	.bg-blue1 { background-color: $blue1 }
$blue2: rgba( 0, 81, 137, 1 );						.blue2 { color: $blue2 } 	.bg-blue2 { background-color: $blue2 }
$blue3: rgba( 31, 54, 108, 1 );						.blue3 { color: $blue3 } 	.bg-blue3 { background-color: $blue3 }
$blue4: rgba( 41, 44, 56, 1 );						.blue4 { color: $blue4 } 	.bg-blue4 { background-color: $blue4 }

$red: rgba( 195, 59, 50, 1 ); 						.red{ color: $red } 					.bg-red{ background-color: $red }
$orange: rgba( 229, 85, 37, 1 ); 					.orange{ color: $orange }			.bg-orange{ background-color: $orange }
$orange2: rgba( 241, 138, 33, 1 ); 				.orange2{ color: $orange2 }		.bg-orange2{ background-color: $orange2 }
$yellow: rgba( 255, 205, 2, 1 ); 					.yellow{ color: $yellow }			.bg-yellow{ background-color: $yellow }
$green1: rgba( 111, 190, 74, 1 ); 				.green1{ color: $green1 }			.bg-green1{ background-color: $green1 }
$green2: rgba( 0, 175, 132, 1 ); 					.green2{ color: $green2 }			.bg-green2{ background-color: $green2 }
$purple: rgba( 104, 38, 102, 1 ); 				.purple{ color: $purple }			.bg-purple{ background-color: $purple }
$pink: rgba( 225, 65, 100, 1 ); 					.pink{ color: $pink }					.bg-pink{ background-color: $pink }

$lighten1: rgba( 255, 255, 255, 0.062 );	.lighten1 { color: $lighten1 } .bg-lighten1 { background-color: $lighten1 }
$lighten2: rgba( 255, 255, 255, 0.125 );	.lighten2 { color: $lighten2 } .bg-lighten2 { background-color: $lighten2 }
$lighten3: rgba( 255, 255, 255, 0.25 );		.lighten3 { color: $lighten3 } .bg-lighten3 { background-color: $lighten3 }
$lighten4: rgba( 255, 255, 255, 0.5 );		.lighten4 { color: $lighten4 } .bg-lighten4 { background-color: $lighten4 }
$lighten5: rgba( 255, 255, 255, 0.7 );		.lighten5 { color: $lighten5 } .bg-lighten5 { background-color: $lighten5 }
$darken1: rgba( 0, 0, 0, 0.062 );					.darken1 { color: $darken1 } .bg-darken1 { background-color: $darken1 }
$darken2: rgba( 0, 0, 0, 0.125 );					.darken2 { color: $darken2 } .bg-darken2 { background-color: $darken2 }
$darken3: rgba( 0, 0, 0, 0.25 );					.darken3 { color: $darken3 } .bg-darken3 { background-color: $darken3 }
$darken4: rgba( 0, 0, 0, 0.5 );						.darken4 { color: $darken4 } .bg-darken4 { background-color: $darken4 }
$darken5: rgba( 0, 0, 0, 0.7 );						.darken5 { color: $darken5 } .bg-darken5 { background-color: $darken5 }



/*--------- Borders ---------*/

$rounded1: 0.2rem;
$rounded2: 0.5rem;
$rounded3: 1rem;
$rounded4: 10rem;
$circle: 50%;

$b1: 0.1rem;
$b2: 0.2rem;
$b4: 0.4rem;

.rounded1 	{ border-radius: $rounded1; }
.rounded2 	{ border-radius: $rounded2; }
.rounded3 	{ border-radius: $rounded3; }
.rounded4		{ border-radius: $rounded4; }
.circle			{ border-radius: $circle; }

.b0 { border-width: 0 }

.b1 { border-width: $b1; }
.bt1 { border-width: $b1 0 0 0 }
.br1 { border-width: 0 $b1 0 0 }
.bb1 { border-width: 0 0 $b1 0 }
.bl1 { border-width: 0 0 0 $b1 }

.b2 { border-width: $b2; }
.bt2 { border-width: $b2 0 0 0 }
.br2 { border-width: 0 $b2 0 0 }
.bb2 { border-width: 0 0 $b2 0 }
.bl2 { border-width: 0 0 0 $b2 }

.b4 { border-width: $b4 }
.bt4 { border-width: $b4 0 0 0 }
.br4 { border-width: 0 $b4 0 0 }
.bb4 { border-width: 0 0 $b4 0 }
.bl4 { border-width: 0 0 0 $b4 }

.b-dotted { border-style: dotted; }
.b-dashed { border-style: dashed; }
.b-solid { border-style: solid; }

.b-white { border-color: $white; }
.b-blue0 { border-color: $blue0; }
.b-blue1 { border-color: $blue1; }
.b-gray1 { border-color: $gray1; }
.b-gray2 { border-color: $gray2; }
.b-gray3 { border-color: $gray3; }
.b-gray4 { border-color: $gray4; }
.b-lighten3 { border-color: $lighten3; }



/*--------- Buttons ---------*/

.hover-lighten:hover { opacity: 0.8; }
.hover-dark:hover { background: rgba( 0, 0, 0, 0.1 ); }
.hover-light:hover { background: rgba( 255, 255, 255, 0.1 ); }
.hover-green1:hover { background: $green1; border-color: $green1; }
.hover-blue1:hover { background: $blue1; border-color: $blue1; }
.hover-blue3:hover { background: $blue3; border-color: $blue3; }
.hover-orange2:hover { background: $orange2; border-color: $orange2; }




/*--------- Links ---------*/

.basiclink {
  border-width: 0 0 1px 0;
  border-style: dotted;
}

.basiclink-white {
  @extend .basiclink;
  color: $white;
  border-color: $white;
}

.basiclink-white:hover {
  color: $white;
  background-color: $lighten3;
  text-decoration: none;
}

.basiclink-blue {
  @extend .basiclink;
  color: $blue1;
  border-color: $blue1;
}

.basiclink-blue:hover {
  color: $white;
  background-color: $blue1;
  text-decoration: none;
}

.basiclink-green {
  @extend .basiclink;
  color: $green2;
  border-color: $green2;
}

.basiclink-green:hover {
  color: $white;
  background-color: $green2;
  text-decoration: none;
}

.basiclink-black {
  @extend .basiclink;
  color: $black;
  border-color: $black;
}

.basiclink-black:hover {
  color: $white;
  background-color: $black;
  text-decoration: none;
}

.outline-blue1 {
  box-sizing: border-box;
  outline: 1rem solid rgba( 0, 0, 0, 0 );
  outline-offset: -1rem;
}

.outline-blue1:hover {
  outline-color: $blue1;
}

.outline-white {
  box-sizing: border-box;
  outline: 1rem solid rgba( 0, 0, 0, 0 );
  outline-offset: -1rem;
}

.outline-white:hover {
  outline-color: $lighten3;
}

.outline-green {
  box-sizing: border-box;
  outline: 1rem solid rgba( 0, 0, 0, 0 );
  outline-offset: -1rem;
}

.outline-green:hover {
  outline-color: $green2;
}



/*--------- Tomorrow (Theme for Highlight.js syntax-highlighting) ---------*/

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #7b7c7a;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #718c00;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8;
}