/*
TODO:
- Add transforms for rollovers
*/

/*--------- Breakpoints ---------*/

$breakpoint-sm: 40em;
$breakpoint-m: 52em;
$breakpoint-l: 64em;


/*--------- Colors ---------*/

$white: #FFFFFF;
$black: #111111;
$blue1: #b4f2fe;
$blue2: #22caf0;
$blue3: #1796da;
$blue4: #09559d;
$darkblue1: #134a77;
$darkblue2: #2c2c34;
$green1: #1db992;
$yellow: #f8bc4a;
$red: #e04540;
$orange: #fd9426;
$pink: #c21983;
$gray1: #f4f4f4;
$gray2: #e7e7e7;
$gray3: #c7c7c7;
$gray4: #a6a6a6;
$gray5: #858585;
$gray6: #5f5f5f;
$gray7: #4d4d4d;
$gray8: #333333;

$bg-transparent: rgba( 0, 0, 0, 0 );
$bg-lighten1: rgba( 255, 255, 255, 0.062 );
$bg-lighten2: rgba( 255, 255, 255, 0.125 );
$bg-lighten3: rgba( 255, 255, 255, 0.25 );
$bg-lighten4: rgba( 255, 255, 255, 0.5 );
$bg-lighten5: rgba( 255, 255, 255, 0.7 );
$bg-darken1: rgba( 0, 0, 0, 0.062 );
$bg-darken2: rgba( 0, 0, 0, 0.125 );
$bg-darken3: rgba( 0, 0, 0, 0.25 );
$bg-darken4: rgba( 0, 0, 0, 0.5 );

.white { color: $white; }
.black { color: $black; }
.blue1 { color: $blue1; }
.blue2 { color: $blue2; }
.blue3 { color: $blue3; }
.blue4 { color: $blue4; }
.darkblue1 { color: $darkblue1; }
.darkblue2 { color: $darkblue2; }
.green1 { color: $green1; }
.yellow { color: $yellow; }
.red { color: $red; }
.orange { color: $orange; }
.purple { color: $pink; }
.gray1 { color: $gray1; }
.gray2 { color: $gray2; }
.gray3 { color: $gray3; }
.gray4 { color: $gray4; }
.gray5 { color: $gray5; }
.gray6 { color: $gray6; }
.gray7 { color: $gray7; }
.gray8 { color: $gray8; }
.lighten4 { color: $bg-lighten4; }
.lighten5 { color: $bg-lighten5; }

.bg-transparent { background-color: $bg-transparent; }
.bg-white { background-color: $white; }
.bg-blue1 { background-color: $blue1; }
.bg-blue2 { background-color: $blue2; }
.bg-blue3 { background-color: $blue3; }
.bg-blue4 { background-color: $blue4; }
.bg-darkblue1 { background-color: $darkblue1; }
.bg-darkblue2 { background-color: $darkblue2; }
.bg-darkblue2-transparent { background-color: rgba( 44, 44, 52, 0.9 ) }
.bg-green1 { background-color: $green1; }
.bg-yellow { background-color: $yellow; }
.bg-red { background-color: $red; }
.bg-orange { background-color: $orange; }
.bg-purple { background-color: $pink; }
.bg-gray1 { background-color: $gray1; }
.bg-gray2 { background-color: $gray2; }
.bg-gray3 { background-color: $gray3; }
.bg-gray4 { background-color: $gray4; }
.bg-gray5 { background-color: $gray5; }
.bg-gray6 { background-color: $gray6; }
.bg-gray7 { background-color: $gray7; }
.bg-gray8 { background-color: $gray8; }

.bg-lighten1 { background-color: $bg-lighten1; }
.bg-lighten2 { background-color: $bg-lighten2; }
.bg-lighten3 { background-color: $bg-lighten3; }
.bg-lighten4 { background-color: $bg-lighten4; }
.bg-lighten5 { background-color: $bg-lighten5; }
.bg-darken1 { background-color: $bg-darken1; }
.bg-darken2 { background-color: $bg-darken2; }
.bg-darken3 { background-color: $bg-darken3; }
.bg-darken4 { background-color: $bg-darken4; }


/*--------- Borders ---------*/

$rounded1: 0.2rem;
$rounded2: 0.5rem;
$rounded3: 1rem;
$rounded4: 10rem;
$circle: 50%;

$b1: 0.1rem;
$b4: 0.4rem;

.rounded1 	{ border-radius: $rounded1; }
.rounded2 	{ border-radius: $rounded2; }
.rounded3 	{ border-radius: $rounded3; }
.rounded4		{ border-radius: $rounded4; }
.circle			{ border-radius: $circle; }

.b1 { border-width: $b1; }
.bt1 { border-width: $b1 0 0 0 }
.br1 { border-width: 0 $b1 0 0 }
.bb1 { border-width: 0 0 $b1 0 }
.bl1 { border-width: 0 0 0 $b1 }

.b4 { border-width: $b4 }
.bt4 { border-width: $b4 0 0 0 }
.br4 { border-width: 0 $b4 0 0 }
.bb4 { border-width: 0 0 $b4 0 }
.bl4 { border-width: 0 0 0 $b4 }

.b-dotted { border-style: dotted; }
.b-solid { border-style: solid; }

.b-white { border-color: $white; }
.b-blue1 { border-color: $blue1; }
.b-gray1 { border-color: $gray1; }
.b-gray2 { border-color: $gray2; }
.b-gray3 { border-color: $gray3; }
.b-gray4 { border-color: $gray4; }


/*--------- Buttons ---------*/

.hover-lighten:hover { opacity: 0.8; }
.hover-dark:hover { background: rgba( 0, 0, 0, 0.1 ); }
.hover-light:hover { background: rgba( 255, 255, 255, 0.1 ); }
.hover-green1:hover { background: $green1; border-color: $green1; }
.hover-blue3:hover { background: $blue3; border-color: $blue3; }

