@import "theme";
@import "base";
@import "utility";
@import "layout";
//@import "component";


/* 

Structure:

1. Base: base element styles
2. Utility: simple typographic and layout utilities
3. Layout: flexible, responsive, and reusable layout modules
4. Theme: simple, customizable color utilities

Am using object oriented CSS pattern.
Per http://www.basscss.com/docs/guides/basics/, principles are:

- Keep styles as reusable as possible.
- Only apply styles to base elements once.
- Never use ids, attributes (e.g. [type=text]) or the universal selector (*) as selectors.
- Never use adjoining selectors.
- Avoid parent and sibling selectors.
- Prefer using class selectors directly on the elements they’re styling.
- Use clear, descriptive names for selectors.
- Keep structural styles and theme styles separate.
- Avoid using mixins and extends in sass – it’s often easier and more readable (especially for others) to write styles out by hand.

Declare classes on elements in following order:

1. Typography
2. Positioning
3. Layout
4. Color & Theme
5. State

*/









/*--------- HOME ---------*/

#splash {
  /*background: rgba( 0, 0, 0, 0.5 );*/
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 6rem 0 0;
}

#splash .logo {
  font-size: 3rem;
}

#splash a {
  text-decoration: none;
  color: white;
}

/*
@media (max-width: 900px) {
  .grid-container, #header {
    margin-left: 2rem;
  }

}*/

/*
#stage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: left top;
  background-size: 100% 100%;
  z-index: -1;
}
*/





/*
#intro h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  width: 40%;
}

#getfirefox {
  width: 40%;
}

#getfirefox .download {
  font-size: 1.5rem;
  border: 0.35rem solid black;
  padding: 1rem;
  margin: 0 0 1rem;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#getfirefox .download:hover {
  color: white;
  background: black;
}

#getfirefox b {
  font-weight: 700;
}

#checklist table {
  font-family: 'Fira Mono';
  margin: 2rem 0 0;
  width: 50%;
}

#checklist td {
  line-height: 1.3rem;
  vertical-align: top;
  padding: 0.5rem 0;
  border-bottom: 1px dotted #666;
}

#checklist .number {
  padding-right: 0rem;
  border-bottom: none;
  font-weight: bold;
}

#checklist .gap {
  padding: 0.5rem 1rem 0 0;
  border-bottom: none;
}

#checklist .comment {
  color: #999;
  border-bottom: 1px dotted #ccc;
}

#checklist .comment a {
  color: #999;
  text-decoration: none;
}

#checklist .comment a:hover {
  color: #666;
  text-decoration: underline;
}

#checklist .state {
  padding-right: 0;
}

#checklist span {
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  color: white;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
}

#checklist .pending {
  background: gray
}

#checklist .positive {
  background: rgba( 29, 185, 146, 1 );
}
*/






/*--------- ARTICLE ---------*/
/*
.article {
  margin: 3em 0 4em;
}

.article header {
  border-top: 1px dashed #d2d2d2;
}

.article header h2 {
  font-style: italic;
  text-align: left;
  font-weight: 400;
  margin: 0.8em 0;
  font-size: 1.4em;
}

.article header h2 a {
  text-decoration: none;
}

.article header .date {
  text-align: left;
  font-size: 0.8em;
  margin-top: -0.7em;
}

.article header .date span {
  background-color: #f8f8f8;
  padding: 0 0.7em;
}

.article.intro .content p {
  display: inline;
}

.article.intro .content .more {
  text-decoration: underline;
  font-weight: 700;
  padding-left: 0.3em;
}

.article .content img {
  display: block;
  width: 100%;
}

.date {
  font-family: 'Merriweather', serif;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
}
*/


/*--------- AUTHOR ---------*/

/*
.author {
  text-rendering: auto;
  text-align: left;
  font-weight: 300;
  background-color: #ccc;
  border-top: 1px solid gray;
}

.author img {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  float: left;
  margin-right: 2em;
}
*/









