
mixin author(name)
	- var author = contents.people[name + '.json']
	div.author
		if author
			img(src='/people/'+author.metadata.photo)
			div
				b= author.metadata.name
				p= author.metadata.bio
				div
					a(href='mailto:'+author.metadata.email)= author.metadata.email
				div
					a(href=author.metadata.twitter)= author.metadata.twitter
		else
			=name