mixin author(name)

	- var author = contents.people[name + '.json']

	.col.col-2
		a(href='http://www.twitter.com/'+author.metadata.twitter target="_blank")
			img(src='/people/' +author.metadata.photo).fit.rounded1.outline-white
	.col.col-10.m-col-6.px2
		h3.m0
			= author.metadata.name
		p
			= author.metadata.title
			| , 
			= author.metadata.company
			br
			a(href='http://www.twitter.com/'+author.metadata.twitter).basiclink-blue
				= '@' + author.metadata.twitter
			p.semibold
			= author.metadata.bio
