mixin author(name)

	- var author = contents.people[name + '.json']

	.grid-container
		.row
			.col-2
				img(src='/people/' +author.metadata.photo).fit.rounded1.left
			.col-4
				h3.regular
					= author.metadata.name
				p.f-small
					a(href='http://www.twitter.com/'+author.metadata.twitter).blue3= '@' + author.metadata.twitter
					br
					= author.metadata.role
					br
					= author.metadata.location
					br
					= author.metadata.bio
