extends layout

block content

  // Header
    .py2.white.bg-blue4
    include header


  // Splash + Title
  div(style="background-image: url('/downloads/splash-1.jpg'); background-size: cover; background-position: 50% 50%").height32.py0.white.bg-darkblue2.relative
    .py2.white.bg-darken5
      include header

  .mb4.py2.bg-white
    .container

      // Intro
      .clearfix
        .col.col-10.m-col-6
          h1 Firefox Nightly with VR
          p In order to experience Web VR content with an Oculus Rift with Firefox Nightly you'll need:
          ol
            li Download most recent&nbsp;
              a(href=locals.nightly) Firfox Nightly
            li Install&nbsp;
              a(href=locals.rift_vr_addon) WebVR Oculus Rift Enabler

      //Download links
      .clearfix.mxn2
        .col.col-12.m-col-6.px2
           a(href=locals.nightly, style='background-image: url("/downloads/nightly.png"); background-size: 50%; background-repeat: no-repeat; background-position: center center').mt2.p3.sizing-borderbox.rounded2.block.bg-gray1.hover-blue1.decoration-none.height7


        .col.col-12.m-col-6.px2
           a(href=locals.rift_vr_addon).mt2.p3.sizing-borderbox.rounded2.block.bg-green2.hover-blue1.decoration-none
            .table
              .table-cell.mr1
                img(src='/images/icon-download-1-white.svg' alt='Mozilla').w2.mr2
              .table-cell.full-width
                h3.m0.white Install WebVR Oculus Rift Enabler&nbsp;

                h5.m0.lighten5
                  | Version&nbsp;
                  = locals.rift_vr_addon_version

      //Release notes
        .clearfix.mt2.mb3
        .col.col-12
          .gray6.mt2.p2.rounded2.bg-gray1.code
            .semi-bold Release notes:
            ul.px2
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              li Tempor incididunt ut labore et dolore magna aliqua.

  .bg-gray1.py3
    .container
      .clearfix
        .col.col-12.m-col-8
          h2 Viewing WebVR content
          p  In order to view WebVR content, a <strong class="red">non-e10s window must be used</strong>.

          img(src='/downloads/e10s.png').fit

      .clearfix
        .col.col-12.m-col-8
          h2 Display setup
          p For optimal performance, it is <strong class="red">very important</strong> to configure your displays as follows. Failure to do so can create excess judder, latency, and annoyance for the user. We are working on improving all of these aspects and making web VR truly plug-and-play, but for now, best results require the following manual configuration.

      //Windows
      .clearfix
        .col.col-12
          h3 Windows:
      .clearfix
        .col.col-12.p3.bg-gray2.rounded1

            img(src='/downloads/win-display-1.png').fit
            ul.light.m0.list-reset.mt2
              li.semi-bold Display
                span.gray5.light.px1 &gt;
                | Screen Resolution
              li Orientation: 90° rotation
              li Multiple displays:  Extended desktop
              li.semi-bold Display
                span.gray5.light.px1 &gt;
                | Screen Resolution
              li Refresh: 60Hz

      //Mac
      .clearfix.mt3
        .col.col-12
          h3 Mac:
      .clearfix.mb4
        .col.col-12.p3.bg-gray2.rounded1

            img(src='/downloads/mac-display-1.png').fit
            ul.light.m0.list-reset.mt2
              li.medium System Preferences
                span.gray5.light.px1 &gt;
                | Displays
                span.gray5.light.px1 &gt;
                | Display
              li Optimize for: Rift
              li Rotation: 90°
              li Refresh: 60Hz

            .b-dotted.b-gray4.bt1.my3

            img(src='/downloads/mac-display-2.png').fit
            ul.light.mt2.list-reset.mt2
              li.medium System Preferences
                span.gray5.light.px1 &gt;
                | Displays
                span.gray5.light.px1 &gt;
                | Arrangement
              li Arrangement: Mirrored

