extends layout

block content

  // Header
    .py2.white.bg-blue4
    include header


  // Splash + Title
  div(style="background-image: url('/downloads/splash-1.jpg'); background-size: cover; background-position: 50% 50%").height32.py0.white.bg-darkblue2.relative
    .py2.white.bg-darken5
      include header
  
  .mb4.py2.bg-white
    .container
      
      // Intro
      .clearfix
        .col.col-10.m-col-6
          h1 Firefox with VR
          p Get experimental builds of Firefox Desktop with support for virtual reality. For more information on how web VR works, see Vlad Vukicevic's June 2014 post, 
            a(href="http://blog.bitops.com/blog/2014/06/26/first-steps-for-vr-on-the-web/" target="blank").basiclink-black First Steps for VR on the Web
      .clearfix
        .col.col-12
          .py2.mt3.mb0.inline-block.bt1.b-dotted.b-gray3
            p Latest version
              span.gray5.italic.light
                |  (
                = moment(locals.build_date).format("MMM DD, YYYY")
                | ):
            h2.m0.mb0.black 
              =locals.build_version

      //Download links
      .clearfix.mxn2
        .col.col-12.m-col-6.px2
           a(href=locals.build_windows).mt2.p3.sizing-borderbox.rounded2.block.bg-green2.hover-blue1.decoration-none
            .table
              .table-cell
                img(src='/images/icon-download-1-white.svg' alt='Mozilla').w2.mr2
              .table-cell.full-width
                h3.m0.white Windows 64-bit (Standard)
                h5.m0.gray2 
                  = locals.build_windows_size
                  |  EXE
        .col.col-12.m-col-6.px2
           a(href=locals.build_mac).mt2.p3.sizing-borderbox.rounded2.block.bg-green2.hover-blue1.decoration-none
            .table
              .table-cell.mr1
                img(src='/images/icon-download-1-white.svg' alt='Mozilla').w2.mr2
              .table-cell.full-width
                h3.m0.white Mac
                h5.m0.gray2 
                  = locals.build_mac_size
                  |  DMG
      
      //Release notes
        .clearfix.mt2.mb3
        .col.col-12
          .gray6.mt2.p2.rounded2.bg-gray1.code
            .semi-bold Release notes:
            ul.px2
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              li Tempor incididunt ut labore et dolore magna aliqua.
    
  .bg-gray1.py3
    .container
      .clearfix
        .col.col-12.m-col-8
          h2 Display configuration
          p For optimal performance, it is <strong class="red">very important</strong> to configure your displays as follows. Failure to do so can create excess judder, latency, and annoyance for the user. We are working on improving all of these aspects and making web VR truly plug-and-play, but for now, best results require the following manual configuration.

      //Windows
      .clearfix
        .col.col-12
          h3 Windows:
      .clearfix
        .col.col-12.p3.bg-gray2.rounded1

            img(src='/downloads/win-display-1.png').fit
            ul.light.m0.list-reset.mt2
              li.semi-bold Display
                span.gray5.light.px1 &gt;
                | Screen Resolution
              li Orientation: 90° rotation
              li Multiple displays:  Extended desktop
              li.semi-bold Display
                span.gray5.light.px1 &gt;
                | Screen Resolution
              li Refresh: 60Hz

      //Mac
      .clearfix.mt3
        .col.col-12
          h3 Mac:
      .clearfix.mb4
        .col.col-12.p3.bg-gray2.rounded1

            img(src='/downloads/mac-display-1.png').fit
            ul.light.m0.list-reset.mt2
              li.medium System Preferences
                span.gray5.light.px1 &gt;
                | Displays 
                span.gray5.light.px1 &gt;
                | Display
              li Optimize for: Rift
              li Rotation: 90°
              li Refresh: 60Hz

            .b-dotted.b-gray4.bt1.my3
            
            img(src='/downloads/mac-display-2.png').fit
            ul.light.mt2.list-reset.mt2
              li.medium System Preferences
                span.gray5.light.px1 &gt; 
                | Displays
                span.gray5.light.px1 &gt;
                | Arrangement
              li Arrangement: Mirrored

