//
.relative
  a(href='' target='_blank').inline-block.b-solid.b-white.hover-blue3.rounded2
    img(src='/images/icon-goggles.svg' alt='Enter VR').w4.p2
  .absolute.top-0.right-0.translate-ny100
    .center-align.white.bg-purple.p2.rounded3
      p.mb1
        span.semi-bold This is a virtual reality website.
        |  A VR-enabled browser and an Oculus Rift are required for the full VR experience.
      a(href='').px3.mt1.mb1.full-width.button.bg-lighten3.hover-blue3.rounded2 Get Firefox with VR
      //br
      //a(href='').px3.mb1.full-width.button.button-blue4 Get Oculus Rift
      h6.italic.black
        | Also works with VR-enabled Chromium. Support for other headsets coming soon.
    .notch.bg-purple.mb1.mr4.right


    