.table
  .table-cell
    a(href=locals.url target='_blank')
      img(src='/images/logo-mozvr-white.svg' alt='Mozilla').logo.mxn2.p2.hover-light.rounded2
  .table-cell.full-width.pl3
    a(href=locals.downloads).rounded1.button.hover-light Downloads
    a(href=locals.projects).rounded1.button.hover-light Projects
    a(href='').rounded1.button.hover-light Resources
    a(href='').rounded1.button.hover-light Blog
  .table-cell.right-align.pr2.nowrap
    a(href=locals.repo target='_blank').rounded1.button.hover-light
      img(src='/images/icon-github-white.svg' alt="Twitter").w2
    a(href='http://twitter.com/hashtag/mozvr' target='_blank').rounded1.button.hover-light
      img(src='/images/icon-twitter-white.svg' alt="Twitter").w2
    //a(href='http://wiki.mozilla.org/IRC' target='_blank').rounded1.button.hover-light IRC
    //a(href='http://mail.mozilla.org/listinfo/web-vr-discuss' target='_blank').rounded1.button.hover-light Mailing List