.table
  .table-cel
    a(href=locals.url target='_blank')
      img(src='/images/logo-mozvr-white.svg' alt='Mozilla').logo.px1.hover-light
  .table-cell
    a(href=locals.downloads).rounded1.button.hover-light Downloads
    a(href='').rounded1.button.hover-light Projects
    a(href='').rounded1.button.hover-light Resources
    a(href='').rounded1.button.hover-light Blog
  .table-cell.right-align
    a(href=locals.repo target='_blank').rounded1.button.hover-light GitHub
    a(href='http://twitter.com/hashtag/mozvr' target='_blank').rounded1.button.hover-light Twitter
    a(href='http://wiki.mozilla.org/IRC' target='_blank').rounded1.button.hover-light IRC
    a(href='http://mail.mozilla.org/listinfo/web-vr-discuss' target='_blank').rounded1.button.hover-light Mailing List