.logo
a(href='http://mozvr.com/')
a(href='/downloads.html').button.button-nav-dark Downloads
a(href='/downloads.html').button.button-nav-dark Projects
a(href='/downloads.html').button.button-nav-dark Resources
a(href='/downloads.html').button.button-nav-dark Blog
.right
  a(href='http://github.com/MozVR/' target='_blank').button.button-nav-dark GitHub
  a(href='http://twitter.com/hashtag/mozvr' target='_blank').button.button-nav-dark Twitter
  a(href='http://wiki.mozilla.org/IRC' target='_blank').button.button-nav-dark IRC
  a(href='http://mail.mozilla.org/listinfo/web-vr-discuss' target='_blank').button.button-nav-dark Mailing List