doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://code.cdn.mozilla.net/fonts/fira.css')
      link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css')
      link(rel='stylesheet', href='/css/global.css')

  body(class=bodyclass)

    block content

    // Footer
    .py3.bg-blue3.light
      .container
        .clearfix
          .col.col-12.m-col-8
            a(href='https://www.mozilla.org/en-US/' target='_blank')
              img(src='/images/logo-mozilla-white.svg' alt='Mozilla').w6.mt3.mb2
            p.h5
              a(href='https://www.mozilla.org/en-US/privacy/websites/' target='_blank').pr2.blue0 Privacy Policy
              a(href='https://www.mozilla.org/en-US/about/legal/' target='_blank').pr2.blue0 Legal Notices
              a(href='https://www.mozilla.org/en-US/about/legal/fraud-report/' target='_blank').pr2.blue0 Report Trademark Abuse
            p.h6.blue1
              | Except where otherwise noted, content on this site is licensed under the
              a(href='http://creativecommons.org/licenses/by-sa/2.5/' target='_blank').blue1 Creative Commons Attribution Share-Alike License v3.0
              | or any later version. Site built with
              a(href='http://wintersmith.io/' target='_blank').blue1 Wintersmith
              | .
          .col.m-col-4
  block scripts
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-24056643-3', 'auto');
    ga('send', 'pageview');