.social-links.flat-list
	ul
		li
			a(href='https://github.com/MozVR/' target='_blank') GitHub
		li
			a(href='https://twitter.com/hashtag/mozvr' target='_blank') Twitter
		li
			a(href='https://wiki.mozilla.org/IRC' target='_blank') IRC
		li
			a(href='https://mail.mozilla.org/listinfo/web-vr-discuss' target='_blank') Mailing List
