//
#vrPermissions.white.rounded2.absolute.top-0.left-0.full-width.full-height.display-none(style='background: rgba(0,0,0,0.5)')
  p
  | 1) Check "Remember decision for mozvr.com"
  br
  | 2) Click "Allow"
  br
  | 3) Press [ESC] to exit Fullscreen.