//
#vrPermissions.white.p2.bg-pink.rounded2.absolute.bottom-2.right-2.display-none
  #vrPermissionsContinue.right.b-solid.b-white.hover-blue3.rounded2.w6.uppercase.cursor-pointer.center-align.line-height-4.height4.ml2
    | Continue

  | This demo requires Fullscreen permissions.  After clicking #[em Continue], you must:
  ol.m0.pt1
    li.m0 Check the #[em.medium Remember decision for mozvr.com] option.
    li.m0 Click #[em.medium Allow ].

#vrPermissionsReady.white.p2.bg-pink.rounded2.absolute.bottom-2.right-2.height7.w13.line-height-7.display-none
  | Ready to go!

#vrPermissionsFs.white.absolute.top-0.left-0.full-width.full-height.f-large.display-none(style='background: rgba(41,44,56,0.8)')
  ol(style='width: 850px; margin-top: 300px;').mx-auto
    li Check #[span.medium  Remember decision for mozvr.com] option
    li Click #[span.medium  Allow]
    li Press #[span.medium  ESC] key to exit fullscreen.

