mixin post-tile(name)

  - var post = contents.posts[name]['index.md']

  //.b-solid.b-gray2.bt4.mt3.mb3

  .clearfix.mxn2.mb4
    .col.col-4.px2
      a(href=post.url).w8
        img(src='/posts/'+name+'/'+post.metadata.thumb).fit.rounded1.outline-white
    .col.col-8.px2
      h1.mt0
        a(href=post.url).black
          = post.metadata.title
      p.h4.m0
        span.gray4
          |  By
          a(href='http://twitter.com/@'+contents.people[post.metadata.author + '.json'].metadata.twitter target='_blank').basiclink-blue
            = contents.people[post.metadata.author + '.json'].metadata.name
          |  -
          span.italic
            = moment(post.metadata.date).format("dddd MMM DD, YYYY")
        br
        span
          = post.metadata.intro

  //a(href=post.url)
    .overflow-hidden
      img(src='/posts/'+name+'/'+post.metadata.thumb).rounded1.fit
    h3.regular.white
      = post.metadata.title
    p.f-small.blue1
      = post.metadata.intro
