extends layout

block append vars
  - bodyclass = 'post-detail'

block prepend title
  | #{ page.title + " - "}


block content

  .py2.white.bg-blue4
    include header

  // Splash + Title
  div(style="background-image: url('"+page.metadata.splash+"'); background-size: cover; background-position: 50% 50%").height40.py3.white.bg-darkblue2.relative
    //img(src=page.metadata.splash).fit.rounded1
    .absolute.bottom-2.full-width
      .container
        .clearfix
         .col.col-12.m-col-8
            h1.posttest.italic.light.py1.uppercase
              span
                = page.metadata.title


  .py3.gray8.bg-white
    .container
      //Author
      .table.mt3
        .table-cell.col-1
          a(href='http://twitter.com/@'+contents.people[page.metadata.author + '.json'].metadata.twitter target='_blank').hover-lighten
            img(src='/people/'+contents.people[page.metadata.author + '.json'].metadata.photo).circle.fit.w5
        .table-cell.col-11.gray5.light.px2
          |  By  
          a(href='http://twitter.com/@'+contents.people[page.metadata.author + '.json'].metadata.twitter target='_blank').basiclink-blue.regular
            = contents.people[page.metadata.author + '.json'].metadata.name
          |  • 
          span.italic 
            = page.metadata.date
      //Body
      .clearfix
        .col.col-12.m-col-10.fit-imgs

          p.f-huge.py3.gray6
            = page.metadata.intro
          != typogr(page.html).typogrify()

        .col.m-col-2
      .clearfix
        include author
        h4 About the author
        mixin author(page.metadata.author)

block prepend footer
  include author






//

  block content

    include project-creators
    include project-tools

    h1
      =page.metadata.title
    p
      =page.metadata.intro
      
    mixin project-creators(page.metadata.creators)
    mixin project-tools(page.metadata.tools)
    p.repo
      a(href=page.metadata.source) Source

    include author
    article.article
      section.content!= typogr(page.html).typogrify()
    | By
    .author
      mixin author(page.metadata.author)

  block prepend footer
    include author