extends layout

block append vars
  - bodyclass = 'project-detail'

block prepend title
  |  Blog - 

block content   
  
  include post-tile

  .black.bg-white
    .py2.white.bg-blue4
      include header
    .py4.container
      .clearfix.mb3
        .col.col-8.m-col-6
          h1 Blog
      .clearfix
        .col.col-12
          mixin post-tile('webvr-lands-in-nightly')
      .clearfix
        .col.col-12
          mixin post-tile('quick-vr-prototypes')


block prepend footer
  include author

//- include author
//- each article in articles
//-   article.article.intro
//-     header
//-       h2
//-         a(href=article.url)= article.title
//-     section.content
//-       if article.intro.length > 0
//-         | !{ typogr(article.intro).typogrify() }
//-       if article.hasMore
//-         p.morec
//-           a(href=article.url) More
