mixin post-tile(name)

	- var post = contents.posts[name]['index.md']

	a(href=post.url)
		.overflow-hidden
			img(src='/posts/'+name+'/'+post.metadata.thumb).rounded1.fit
		h3.regular.white
			= post.metadata.title
		p.f-small.blue1
			= post.metadata.intro