mixin post-tile(name)

  - var post = contents.posts[name]['index.md']

  .b-solid.b-gray2.bt4.my3

  .clearfix
    .col.col-8
      h1.semi-bold.mt0
        a(href=post.url).gray7
          = post.metadata.title
  .clearfix
    .col.col-8
      p.f-large
        span.gray4.f-medium
          |  By  
          a(href='http://twitter.com/@'+contents.people[post.metadata.author + '.json'].metadata.twitter target='_blank').basiclink-blue
            = contents.people[post.metadata.author + '.json'].metadata.name
          |  - 
          span.italic 
            = post.metadata.date
        br
        span.gray5
          = post.metadata.intro
    .col.col-4.pl3
      a(href=post.url).w8
        img(src='/posts/'+name+'/'+post.metadata.thumb).fit.rounded1.outline-white

  //a(href=post.url)
    .overflow-hidden
      img(src='/posts/'+name+'/'+post.metadata.thumb).rounded1.fit
    h3.regular.white
      = post.metadata.title
    p.f-small.blue1
      = post.metadata.intro