mixin project-creators(creatorList)

		ul.list-reset
			- for (var i = 0; i < creatorList.length; ++i) {
				li
					a(href='http://twitter.com/' + creatorList[i].twitter target='blank').blue3= creatorList[i].name
			- }