mixin project-tile(name)

	- var project = contents.projects[name]['index.md']

	a(href=project.url)
		.overflow-hidden.rounded1
			img(src='/projects/'+name+'/'+project.metadata.thumb).fit
		h3.regular.white
			= project.metadata.title
		p.f-small.blue1
			= project.metadata.intro
