extends layout

block append vars
  - bodyclass = 'project-detail'

block prepend title
  |  Projects - 

block content
  include project-tile

  .white.bg-blue4
    .py2.white.bg-darken3
      include header
    .container
      .clearfix.py3
        .col.col-8.m-col-6
          h1 Projects
          p
            | This is our full collection of virtual reality web projects, experiments, demos, etc. To enter the VR mode of these projects, be sure to use a VR-enabled browser, like 
            a(href=locals.downloads).basiclink-white Firefox with VR
            |  and a compatible VR headset.
      .clearfix.mxn2
        .col.col-6.m-col-3.px2.py2
          mixin project-tile('monkeys')
        .col.col-6.m-col-3.px2.py2
          mixin project-tile('inspirit')
        .col.col-6.m-col-3.px2.py2
          mixin project-tile('rainbowmembrane')
        .col.col-6.m-col-3.px2.py2
          mixin project-tile('sechelt')
      .clearfix.mxn2
        .col.col-6.m-col-3.px2.py2
          mixin project-tile('panorama-viewer')
        .col.col-6.m-col-3.px2.py2
        .col.col-6.m-col-3.px2.py2
        .col.col-6.m-col-3.px2.py2
      //-
        .clearfix.mxn2
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('inspirit')
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('rainbowmembrane')
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('xibalba')
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('iamink')
        .clearfix.mxn2
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('sechelt')
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('polarsea')
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('panorama-viewer')
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('infodive')
        .clearfix.mxn2
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('talkchatshow-ep4')
          .col.col-6.m-col-3.px2.py2
            mixin project-tile('leap-collage')
          .col.col-6.m-col-3.px2.py2
          .col.col-6.m-col-3.px2.py2


block prepend footer
  include author