extends layout

block append vars
  - bodyclass = 'project-detail'

block prepend title
  | #{ page.title + " - "}

block content

  include project-creators
  include project-tools

  // Header + VR Embed
  .white.bg-blue4
    .py2.white.bg-darken2
      include header
    .container.py4
      .clearfix
        .col.col-12.relative.height40
          .absolute.top-0.left-0.full-width.full-height(style='background-image: url('+page.metadata.splash+'); background-size: cover; background-repeat: no-repeat;')
            .absolute.right-2.bottom-2
              a(href=page.metadata.link target="_blank")
                #viewProject.p2.cursor-pointer
                  .table
                    .inline-block.b-solid.b-white.hover-blue3.rounded2
                      img(src='/images/icon-goggles-2-white.svg' alt='View Project').w6
      .clearfix.mt3
        .col.col-12
          h5.lighten3.m0 Project
          h1.m0.italic.ultralight.uppercase.f-huge
            = page.metadata.title

  .py3.gray8.bg-white#content
    .container
      .clearfix

        // Creators & Tools
        .col.col-2
          h6.darken5 Creators
          mixin project-creators(page.metadata.creators)
        .col.col-2
          h6.darken5 Tools
          mixin project-tools(page.metadata.tools)
        .col.col-2
          h6.darken5 Source
          ul.m0.list-reset
            li
              a(href=page.metadata.source).basiclink-blue GitHub
      .clearfix.mb3

        //Body
        .project.col-12
          if page.html
            != typogr(page.html).typogrify()


block append scripts
  script.

    function init() {
      window.addEventListener( "resize", onWindowResize, false );
      onWindowResize()
    }

    function onWindowResize() {
      var stage = document.getElementById( "stage" )
      stage.setAttribute( "style", "height:" + ( window.innerHeight-260 ) + "px" );
    }

    // window.addEventListener("load", init, false)

