extends layout

block append vars
  - bodyclass = 'project-detail'

block prepend title
  | #{ page.title + " - "}

block content   

  include project-creators
  include project-tools

  // Splash
  .py3.white.bg-blue4
    include header
    .container
      .clearfix.relative.p0.mb3
        .col.col-12
          img(src=page.metadata.splash).fit.rounded1
          .absolute.right-2.bottom-2
            include entervr
      .clearfix
        .col.col-3
          h5 Project
          h1
            =page.metadata.title
        .col.col-2
          h5 Creators
          mixin project-creators(page.metadata.creators)
        .col.col-2
          h5 Tools
          mixin project-tools(page.metadata.tools)
        .col.col-5

  // Content
  .py3.darkblue2.bg-white
    .container
      .clearfix
        .col-8
          p.f-large
            =page.metadata.intro
            br
            a(href=page.metadata.source).button.button-green1.mt3.px3
              | GitHub
        .col-4
      .clearfix
        .col-12.fit-imgs
          if page.html
            != typogr(page.html).typogrify()

  include author

  // Author
  //.author.standard-padding
    mixin author(page.metadata.author)

block prepend footer
  include author