mixin project-tile(name)

	- var project = contents.projects[name]['index.md']

	.project
		a(href=project.url)
			.container
				img(src='/projects/'+name+'/'+project.metadata.thumb).rounded1
			.white
				h4.regular
					= project.metadata.title
				p.f-small.blue1
					= project.metadata.intro
