mixin projectTile(name)

	- var project = contents.projects[name]['index.md']

	a(href=project.url)
		img(src='/projects/'+name+'/'+project.metadata.splash)
	.info
		h4
			= project.metadata.title
		p
			= project.metadata.intro

	//
		a(href=article.url)
			h3
				= article.metadata.title
			p
				= article.metadata.intro

			img(src=article.metadata.splash)