mixin team-member(name)

	- var member = contents.people[name + '.json']

	a(href='http://www.twitter.com/'+member.metadata.twitter)
		img(src='/people/' +member.metadata.photo).fit.rounded1.outline-white
	h4
		= member.metadata.name
	p.h6
		= member.metadata.role
		br
		= member.metadata.location
		br
		a(href='http://www.twitter.com/'+member.metadata.twitter).basiclink-blue= '@' + member.metadata.twitter