mixin team-member(name)

	- var member = contents.people[name + '.json']

	a(href='http://www.twitter.com/'+member.metadata.twitter target="_blank")
		img(src='/people/' +member.metadata.photo).fit.rounded1.outline-white
	h4
		= member.metadata.name
	p.h5
		= member.metadata.title
		| ,
		br
		= member.metadata.company
		br
		a(href='http://www.twitter.com/'+member.metadata.twitter).basiclink-blue= '@' + member.metadata.twitter