mixin weblink-tile(number)

  - var link = contents.weblinks['weblinks.json'].metadata.weblinks[number]

  //.b-dotted.b-gray3.bt1.my3

  a(href=link.url target='_blank')
    img(src='/weblinks/'+link.thumb).fit.rounded1.outline-white 
  h4.h5.mt2.mb0
    a(href=link.url).black
      = link.title
  p.gray4.m0
    = moment(link.date).format("MMM DD, YYYY")
    //span.gray4
      |  By 
      a(href=link.publicationURL target='_blank').basiclink-blue
        = link.publication
      |  - 
      span 
        = moment(link.date).format("MMM DD, YYYY")
      br
      span.gray5
        = link.intro


//a(href='http://twitter.com/@'+contents.people[post.metadata.author + '.json'].metadata.twitter target='_blank').basiclink-blue